# Pure Python / safe libraries
hydrogram
yt-dlp
youtube-search-python==1.6.6
ffmpeg-python
aiohttp==3.11.11
httpx
aiofiles
dnspython
psutil
pillow
requests

# C-extensions, build from source for safety
tgcrypto --no-binary :all:  # build from source to avoid illegal hardware instruction
py-tgcalls --no-binary :all:  # same
